<h2> {{ site.collection.title }}</h2>
<ul class="grid items">

{% for item in collection %}

<li class="grid-item">
  		<p class="nav-item--page link t-heading">
    		{{ item.date }}
    	</p>
<a href="{{ item.url }}">
        <p class="t-heading t-b--s">{{ item.title }}</p>
</a>

{% if item.keywords %}
<ul class="nav nav-items--page">
  	{% for key in item.keywords %}
  		<li class="nav-item--page link t-heading">
      		{{ key }}
    	</li>
  	{% endfor %}
  	</ul>

{% endif %}
<br>
</li>
{% endfor %} 
</ul>
