<article class="grid grid-section">
{% include item-header.html %}





{% if page.location %}
<div class="abstract">
	{% include map.html %}

	{% include event.html %}
</div>
{% endif %}
  {% if (page.share != 'false') %}
    {% include nav-sharebox.html %}
  {% endif %}

	<div class="content">{{ content }}</div>



		
<aside class="grid grid-item">
    {% include item-resources.html %}


<div class="">
<ul class="nav nav-items--page">
			{% if page.type %}
			<li class="nav-item--page link t-heading list list-item"><small>{{ page.type }}</small></li>
			{% endif %}
			{% if page.status %}
			<li class="nav-item--page link t-heading list list-item"><small>{{ page.status }}</small> </li>
			{% endif %}
			<li class="nav-item--page link t-heading list list-item"><small>{{ page.author }} {{ page.date.y }}</small></li>
			{% if page.license %}
			<li class="nav-item--page link t-heading list list-item"><small>{{ page.license }}</small></li>
			{% endif %}
			{% if page.lang %}
			<li class="nav-item--page link t-heading list list-item"><small>{{ page.lang }}</small></li>
			{% endif %}
		</ul>
</div>
</aside> 
</article>

{% if page.comments %}
<section class="grid grid-item">
	{% include disqus.html %}
</section>
{% endif %}
