<header class="grid-item">
  		<p class="nav-item--page link t-heading">
    		{{ page.date | date: "%-d %B %Y"}}
    	</p>

<span class="nav-item--page t-heading">

{% if (item.url == page.url) %}
<a class="link" href="{{ page.url }}"><h4 class="link">{{ page.title }}</h4></a>

{% else %}
        
        <h1 class="t-brandColor">{{ page.title }}</h1>

{% endif %}
</span>

{% if page.image %}
    <img src= "{{basedir}}/{{ page.image }}" style="width:100%; max-width:100%; border-radius:5px; box-shadow: 0 0 0.5em #999; margin-top:1em; margin-bottom:1em">
{% endif %}


      <p class="nav-item--page link t-heading">
      {% for auth in page.author %}
      <span class="list">
        {{ auth }}
      </span>
      {% endfor %}
      </p>

{% if page.keywords %}
<ul class="nav nav-items--page">
  	{% for key in page.keywords %}
  		<li class="nav-item--page link t-heading list">
      		{{ key }}
    	</li>
  	{% endfor %}
  	</ul>

{% endif %}
<br>
</li>
</header>