<ul class="grid-item">

{% for resource in page.resources %}
	{% if resource.pdf %}
		<div class="btn btn--block"><a href="{{ resource.pdf }}">Read the pdf</a></div>
	{% endif %}
	{% if resource.academia %}
		<li><a class="btn btn--block" style="display:block" href="{{ resource.academia }}"><span>Read on Academia.edu</span></a></li>
	{% endif %}
	{% if resource.github %}
		<div class="btn btn--block"><a href="{{ resource.github }}">View on Github</a></div>
	{% endif %}
	{% if resource.original %}
		<div class="btn btn--block"><a href="{{ resource.original }}">View on original location</a></div>
	{% endif %}
	{% if resource.doi %}
		<div class="btn btn--block"><a href="http://doi.org/{{ resource.doi }}">DOI {{ resource.doi }}</a></div>
	{% endif %}
	{% if resource.journal %}
		<div class="btn btn--block"><a href="{{ resource.journal }}">Read on journal</a></div>
	{% endif %}
	{% if resource.url %}
		<div class="btn btn--block"><a href="{{ resource.url }}">Go to website</a></div>
	{% endif %}
{% endfor %}

</ul>