


{% if (item.url == page.url) %}
<header class="grid grid-item">

  <a class="nav-item--page t-heading" href="{{ page.url }}">
      {% if page.date %}
        <p class="nav-item--page link t-heading u-layout u-mar--0">
        {{ page.date | date: "%-d %B %Y"}}
      </p>
      {% endif %}
    <h4 class="link u-layout u-mar--0">{{ page.title }}</h4>
  </a>
{% else %}
<header class="">

  <h1 class="nav-item--page t-heading t-brandColor">{{ page.title }}</h1>
    <p>
      {% if page.date %}
        <span class="nav-item--page link t-heading">
        {{ page.date | date: "%-d %B %Y"}}
        </span>
      {% endif %}
      {% if page.author %}
        <span class="nav-item--page link t-heading">
        {% for auth in page.author %}
          <span class="list"> {{ auth }}</span>
        {% endfor %}
        </span>
      {% endif %}
    </p>
{% endif %}

{% if page.image %}
  <a href="{{ page.url }}">  
    <img src= "{{basedir}}/{{ page.image }}" class="img img--fullw">
  </a>
{% endif %}

{% if page.keywords %}
  <ul class="nav nav-items nav-items--page u-layout u-mar--0">
  	{% for key in page.keywords %}
  		<li class="nav-item--page link t-heading list list-item"><small>
      		{{ key }}
    	</small></li>
    {% endfor %}
  </ul>
{% endif %}



</header>
