{% if page.resources %}
	<nav class="grid-item"> 

		<ul>

		{% for resource in page.resources %}

			{% if resource.pdf %}
				<li class="btn btn--block btn-primary" ><a href="{{ resource.pdf }}"><span>Read the pdf</span></a></li>
			{% endif %}

			{% if resource.academia %}
				<li class="btn btn--block btn-primary--outline" ><a href="{{ resource.academia }}"><span>Read on Academia.edu</span></a></li>
			{% endif %}

			{% if resource.github %}
				<li class="btn btn--block btn-secundary--outline" ><a href="{{ resource.github }}"><span>View on Github</span></a></li>
			{% endif %}

			{% if resource.original %}
				<li class="btn btn--block btn-secundary"><a href="{{ resource.original }}"><span>View on original location</span></a></li>
			{% endif %}

			{% if resource.doi %}
				<li class="btn btn--block btn-secundary--outline" ><a href="http://doi.org/{{ resource.doi }}"><span>DOI {{ resource.doi }}</span></a></li>
			{% endif %}

			{% if resource.journal %}
				<li class="btn btn--block btn-secundary--outline" ><a href="{{ resource.journal }}"><span>Read on journal</span></a></li>
			{% endif %}

			{% if resource.url %}
				<li class="btn btn--block btn-primary--outline" ><a href="{{ resource.url }}"><span>Go to website</span></a></li>
			{% endif %}

			{% if resource.other %}
				<li class="btn btn--block btn-primary--outline" ><a href="{{ resource.url }}"><span>{{ resource.label }}</span></a></li>
			{% endif %}
		{% endfor %}

		</ul>
	</nav>
{% endif %}
