<article class="grid grid-section">
{% include item-header.html %}





{% if page.location %}
<div class="abstract">
	{% include map.html %}

	{% include event.html %}
</div>
{% endif %}
  {% if (item.url != page.url) %}
    {% include nav-sharebox.html %}
  {% endif %}

	<div class="content">{{ content }}</div>

{% if page.collections %}
	{% assign collection = site.[page.collections] | sort: 'date' | reverse %} 
		<h2 class="t-heading t-colorBrand">{{ site.collection.title }}</h2>
	{% include collection.html %}
{% endif %}

		
<aside class="grid grid-section">
  {% if (item.url != page.url) %}
    {% include item-resources.html %}
  {% endif %}


<div class="">
<ul class="nav nav-items--page">
			{% if page.type %}
			<li class="nav-item--page link t-heading list"><small>{{ page.type }}</small></li>
			{% endif %}
			{% if page.status %}
			<li class="nav-item--page link t-heading list"><small>{{ page.status }}</small> </li>
			{% endif %}
			<li class="nav-item--page link t-heading list"><small>{{ page.author }} {{ page.date.y }}</small></li>
			{% if page.license %}
			<li class="nav-item--page link t-heading list"><small>{{ page.license }}</small></li>
			{% endif %}
			{% if page.lang %}
			<li class="nav-item--page link t-heading list"><small>{{ page.lang }}</small></li>
			{% endif %}
		</ul>
</div>
</aside> 
</article>

{% if page.comments %}
	{% include disqus.html %}
{% endif %}
