
{% unless page.hide-breadcrumbs %}
<nav class="nav nav--page">

<ul class="nav nav-items--page">
    <li class="nav-item--page link"><a href="/" class="t-heading">{{site.title}}</a> </li>
    {% assign crumbs = page.url | split: '/' %}
    {% for crumb in crumbs offset:1 %}
      <li class="nav-item--page link {% if forloop.last %}active"{% endif %}>
        {% unless forloop.last %}
          <a class="t-heading" href="/{% for crumb in crumbs offset:1 limit:forloop.index %}{{crumb}}/{% endfor %}">
            {{ crumb | capitalize }}
          </a>
        {% else %}
          <span class="t-heading"> {{ crumb | capitalize }}</span>
        {% endunless %}
      </li>
    {% endfor %}
  </ul>
</nav>
{% endunless %}