 <link rel="stylesheet" href="{{base}}/assets/css/styles.css" lazyload>
 <script type="text/javascript" src="//cdn.jsdelivr.net/cookie-bar/1/cookiebar-latest.js?top=1&remember=01"></script> 
 
 <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600" rel="stylesheet" lazyload>
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" lazyload>
 <link rel="alternate stylesheet" href="{{base}}/assets/css/fontPlus.css" title="fontPlus" lazyload> 
 <link rel="alternate stylesheet" href="{{base}}/assets/css/fontMinus.css" title="fontMinus" lazyload> 
 <link rel="alternate stylesheet" href="{{base}}/assets/css/dyslexiaFriendly.css" title="dyslexiaFriendly" lazyload> 
 <link rel="alternate stylesheet" href="{{base}}/assets/css/nightMode.css" title="nightMode" lazyload> 
