---

---

@import 'reset';

$media-l: 840px ;

.wrapper-container--md-2{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 100vw;
	min-height: 100vh;

	@media (min-width: $media-l) {

		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		overflow: hidden;
		height: 100vh;
	}
}

.nav-sidebar {
	padding: 2.75rem;
	background-color: inherit;


	@media (min-width: $media-l) {
	    -webkit-box-flex: 0;
	    -webkit-flex: 0 0 32rem;
	    -ms-flex: 0 0 32rem;
	    flex: 0 0 32rem;
	    padding: 4.45rem 2.75rem;
	    max-width: 32rem;
	    border-right: 2px solid #e6e6e6;
  	}
}

.nav-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2.75rem;

}

.nav-items--social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item--social.link {
  display: block;
  margin: 0;
}


@media (min-width: $media-l) {
  .nav--primary {
    margin-bottom: 2.75rem;
  }
}

.nav-items--primary {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
	@media (min-width: $media-l) {
	    -webkit-flex-flow: column nowrap;
	    -ms-flex-flow: column nowrap;
	    flex-flow: column nowrap;
	    text-align: center;
	  }
}

.nav-item--primary {
	margin: 0 0.4rem;
	@media (min-width: 840px) {
    	margin: 0;
  	}
}

.nav-item--primary .link {
	display: block;
	padding: 0 0.4rem;
	color: #166888;
	&:hover{
		color:#fff;
	}
	@media (min-width: 840px) {
   		display: inline-block;
    	padding: 0.4rem;
  }
}

