---

---

@import 'reset';

$media-l: 840px ;

.wrapper-container--md-2{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 100vw;
	min-height: 100vh;

	@media (min-width: $media-l) {

		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		overflow: hidden;
		height: 100vh;
	}
}

.nav-sidebar {
	padding: 2.75rem;
	background-color: #28aadc;

	@media (min-width: $media-l) {
	    -webkit-box-flex: 0;
	    -webkit-flex: 0 0 32rem;
	    -ms-flex: 0 0 32rem;
	    flex: 0 0 32rem;
	    padding: 4.45rem 2.75rem;
	    max-width: 32rem;
  	}
}