<style>
    section > h2{
        position:sticky;
        top: 0;
    }
</style>

<div class="vertical-center">
    <div class="container color-primary">
        <div class="row">
            <div class="col-sm">
                <div class="row">
                    <h1 class="display-4 ls-1 color-accent" style="font-weight: bold;">
                        {{ data.basics.name }}
                    </h1>
                </div>
                <div class="row" style="margin-top:2rem">
                    <p class="hypen">
                        {{ data.basics.summary }}
                    </p>
                </div>
                <div class="row>">
                    <button type="button" class="btn btn-outline-warning">Download CV</button>
                </div>
                <div class="row mt-5">
                    <h2>General Info</h2>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <p>Date of Birth</p>
                        <p>Email</p>
                        <p>Available</p>
                    </div>
                    <div class="col-sm-8">
                        <p>{{data.basics.birthDate}}</p>
                        <p>{{data.basics.email}}</p>
                        <p>{{data.basics.available}}</p>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="img-box" style=" height:100%; position: relative;">.
                <img src="{{ data.basics.picture }}" class="img img-fluid"/>
                </div>
                
            </div>

        </div>
    </div>
</div>

<div class="container  color-primary sticky-top border-bottom bg-offWhite">
    <ul class="nav" style="padding-top: 1rem; padding-bottom:1rem" id="navMain">
        <li class="nav-item">
            <a href="#" class="nav-link color-primary">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link color-primary">
                News
            </a>
        </li>
        <li class="nav-item">
            <a href="#sec-work" class="nav-link color-primary">
                Work
            </a>
        </li>
        <li class="nav-item">
            <a href="#sec-edu" class="nav-link color-primary">
                Education
            </a>
        </li>
        <li class="nav-item">
            <a href="#sec-teach" class="nav-link color-primary">
                Teaching
            </a>
        </li>
        <li class="nav-item">
            <a href="#sec-lang" class="nav-link color-primary">
                Languages
            </a>
        </li>
        <li class="nav-item">
            <a href="#sec-wri" class="nav-link color-primary">
                Writing
            </a>
        </li>
        <li class="nav-item">
            <a href="#sec-awards" class="nav-link color-primary">
                Awards
            </a>
        </li>
    </ul>
</div>



<div style="height:8rem"></div>

<!--
<main>
    <div class="container">
        <section *ngFor="let section of data | keyvalue" style="margin-top: 2rem; margin-bottom:2rem;"> 
            <h2 class=" row color-accent">{{section.key}}</h2>
        

            <div *ngFor="let subsection of section |keyvalue" class="row">{{ subsection }}
            </div>
        </section>
    </div>
</main>
-->

<main class="color-primary" data-spy="scroll" data-target="#navMain" data-offset="0" style="position: relative;">
    <app-news></app-news>

    <section class="container" id="sec-work">
        <h2 class="row color-accent">Work Experience</h2>
        <div class="row p-5 mt-5 hoverable" *ngFor="let work of data.work">

            <div class="col-sm-4">
            {{work.startDate}} · {{work.endDate}}
            </div>
            <div class="col-sm-8">
                <h4>{{work.position}}</h4>
                <p class="text-muted">{{work.company}} · {{work.location}}</p>
            </div>
        </div>
    </section>

    <section class="container" id="sec-edu">
        <h2 class="row color-accent">Education</h2>
        <div class="row p-5 hoverable" *ngFor="let education of data.education">

            <div class="col-sm-4">
            {{education.startDate}} · {{education.endDate}}
            </div>
            <div class="col-sm-8">
                <h4>{{education.studyType}}  <span>in {{education.area}}</span></h4>
                <p class="text-muted">{{education.institution}} · 
                {{education.location}}</p>
                <small *ngIf="education.pdf">[<a href="{{education.pdf}}">PDF</a>]</small>
            </div>
        </div>
    </section>

    <section class="container" id="sec-teach">
        <h2 class="row color-accent">Teaching</h2>
        <div class="row p-5 hoverable" *ngFor="let teaching of data.teaching">

            <div class="col-sm-4">
            {{teaching.year}}
            </div>
            <div class="col-sm-8">
                <h4>{{teaching.name}}<span style="width:3rem"></span><small style="margin-left:3rem">{{teaching.studyType}}</small></h4>
                <p class="text-muted">{{teaching.institution}} </p>
                <small *ngIf="teaching.pdf">[<a href="{{teaching.pdf}}">PDF</a>]</small>
            </div>
        </div>
    </section>

    <section class="container" id="sec-wri">
        <h2 class="row color-accent">Writing</h2>
        <div class="row p-5 hoverable" *ngFor="let publication of data.publications">

            <div class="col-sm-4">
            {{publication.year}}
            </div>
            <div class="col-sm-8">
                <h5>{{publication.title}}<span style="width:3rem"></span></h5>
                <p *ngIf="publication.journal" class="text-muted">
                    <span>{{publication.journal.name}} </span>
                    <span *ngIf="publication.journal.volume"> · Vol. {{publication.journal.volume}}</span>
                    <span *ngIf="publication.journal.number"> · Num. {{publication.journal.number}}</span>
                    <span *ngIf="publication.journal.pages"> · Pp. {{publication.journal.pages}}</span>
                </p>
                <ul class="list-inline">

                    <li class="list-inline-item" *ngIf="publication.type">
                        {{publication.type}} ·
                    </li>
                    <li class="list-inline-item" *ngIf="publication.identifier">
                        <a href="http://{{publication.identifier.id}}">[DOI]</a>
                    </li>
                    <li class="list-inline-item" *ngIf="publication.link">
                        <a href="{{publication.link.url}}">[URL]</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="container" id="sec-awards">
        <h2 class="row color-accent">Awards and Grants</h2>
        <div class="row p-5 hoverable" *ngFor="let item of data.awards">

            <div class="col-sm-4">
            {{item.date}}
            </div>
            <div class="col-sm-8">
                <h5>{{item.title}}</h5>
                <p class="text-muted">{{item.awarder}} </p>
                <p class="">{{item.summary}} </p>
                <p class="text-muted">{{item.role}} </p>
                <small *ngIf="item.summary">{{item.grant}}</small>
            </div>
        </div>
    </section>

</main>

<footer style="border-top:1px solid #eee">
    <div class="container" style="padding-top:2rem; padding-bottom:2rem">
        <small class="text-muted"> 2021 | marcopetolicchio.com</small>
    </div>
</footer>


<router-outlet></router-outlet>