<div class="vertical-center">
    <div class="container color-primary">
        <div class="row">
            <div class="col-sm">
                <div class="row">
                    <h1 class="ls-1 text-uppercase color-accent" style="font-size:22px; font-weight:500">
                        {{ data.basics.name }}
                    </h1>
                </div>
                <div class="row" style="margin-top:2rem">
                    <h3 class="display-4 text-wrap" style="font-weight: 300; line-height:1.5">
                        {{ data.basics.headline }}
                    </h3>
                </div>
                <div class="row">
                    .
                </div>
            </div>

            <div class="col-sm">
                <div style="background:#eee; height:100%">.</div>
                
            </div>

        </div>
    </div>
</div>

<div class="container bg-accent color-primary">
    <div class="row">
        <h2 class="">News</h2>
    </div>
    <div class="row">
        Lorem ipsum
    </div>
</div>
