<!doctype html>
<html lang="{% if page.lang %}{{ page.lang }}{% else %}{{ site.lang }}{% endif %}">
{% include head.html %}
{% include basedir.html %}
<body  lang="{% if page.bodyClass %}{{ page.bodyClass }}{% else %}counter">
	<div class="wrapper wrapper-container--md-2">
		{% include nav.html %}
		<div class="container main-wrapper">
		<main>
		{% include header.html %}
		{% if page.template %}{% include {{ page.template }}.html %}
		{% else %}{% include page.html %}{% endif %}
		</main>
		{% include footer.html %}
		</div>
	</div>
</body>
{% include assets.html %}
</html>