<!doctype html>
<html lang="{% if page.lang %}{{ page.lang }}{% else %}{{ site.lang }}{% endif %}">
{% include head.html %}
{% include basedir.html %}
<body>
	<div class="">
		<div class="container main-wrapper">
		
			<main>

				<article class="grid grid-section">
					
					<header class="" style="text-align:center">

	  					<div class="nav--logo" style="margin-top: 1.8rem;">
							<img class="img nav-img" src="{{base}}/{{ site.author.image }}" alt="" style="width: 164px;height: 164px;">
						</div>

						<h1 class="nav-item--page t-heading t-brandColor" style="margin: 0;padding: 0;margin-bottom: 1.8rem;font-size: 3rem;">{{ site.greeting }}</h1>
						
						<h4 class="nav-item--page t-heading t-brandColor" style="margin: 0;padding: 0;font-size: 2rem;">{{ site.headline }}</h4>

					</header>

					{% include nav-social.html %}
					

					<div class="content frontMatter"> {{ content }} </div>
	    
				</article>

			</main>
	
		</div>

	</div>


	<aside class="grid grid-item" style="text-align:center">
		<nav class="">
			<ul class="">
		  	{% for item in site.data.navigation-primary %}
		  		<li class="nav-item--page  btn btn--block btn-primary--outline">
		    		<a href="{{base}}{{ item.link }}" class="t-heading {% if item.link == page.url %}active{% endif %}">
		      		{{ item.name }}
		    		</a>
		    	</li>
		  	{% endfor %}
		  	</ul>
		</nav>
	</aside>

	

	{% include footer.html %}
</body>
{% include assets.html %}
</html>